/1.5_GuiaEstudiante_Fase 1_Definicion Proyecto APT.docx
/Almarza_Harumi_1.1_APT122_AutoevaluacionCompetenciasFase1(Terminado).docx
/Almarza_Harumi_1.2_APT122_DiarioReflexionFase1.docx
/Almarza_Harumi_1.3_APT122_AutoevaluacionFase1.docx
/Evidencias Individuales
/LeeChong_Catalina_1.1_APT122_AutoevaluacionCompetenciasFase1(Terminado).docx
/LeeChong_Catalina_1.2_APT122_DiarioReflexionFase1.docx
/LeeChong_Catalina_1.3_APT122_AutoevaluacionFase1.docx
/Vasquez_Bastian_1.1_APT122_AutoevaluacionCompetenciasFase1(Terminado).docx
/Vasquez_Bastian_1.2_APT122_DiarioReflexionFase1.docx
/Vasquez_Bastian_1.3_APT122_AutoevaluacionFase1.docx